@page
@model Razorweb.Pages_Blog.IndexModel

@{
    ViewData["Title"] = "Cac bai viet";
    int i = 0;
}

@{
    var pagingmodel = new XTL.Helpers.PagingModel() {
        currentpage = Model.currentPage,
        countpages = Model.countPages,
        generateUrl = (int? p) => Url.Page("/Blog/Index", new {p = p})

    };
}

<partial name="_PagingXTL" model="@pagingmodel"/>

<h1>Danh sach bai viet</h1>
<form method="get" asp-page="./Index">
    <label>Tim kiem</label>
    <input type="text" name="SearchString">
    <button type="submit">Tim</button>
</form>

<p>
    <a asp-page="Create" class="btn btn-primary mt-2">Tao bai viet</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Tittle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Article) {
        <tr>
            <td>@(++i)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Tittle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Chỉnh sửa</a>
                <a asp-page="./Details" asp-route-id="@item.Id">Xem chi tiết</a>
                <a asp-page="./Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
